<div class="row">
	<div class="col-md-8">
		<button class="btn btn-primary" data-toggle="modal" data-target="#modalcliente"><span class="glyphicon glyphicon-plus"></span> Novo Cliente</button>
	</div>
	<div class="col-md-4">
		<input class="form-control" placeholder="Pesquisar" ng-model="pesquisar">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" ng-init="listaclientes()">
			<thead>
				<th>#</th>
				<th>Nome</th>
				<th>CPF</th>
				<th></th>
			</thead>
			<tbody>
				<!-- Listagem -->
				<tr dir-paginate="cliente in clientes|filter:pesquisar|itemsPerPage:8">
					<td>{{cliente.id}}</td>
					<td>{{cliente.nome}}</td>
					<td>{{cliente.cpf}}</td>
					<td>
						<button class="btn btn-info btn-xs" ng-click="editar(cliente)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
						<button class="btn btn-danger btn-xs" ng-click="excluir(cliente)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Paginação -->
<div class="row">
	<div class="col-md-12 text-center">
		<dir-pagination-controls>
	    </dir-pagination-controls>
	</div>
</div>

<!-- Modal Cadastro e Edição -->
<div class="modal fade" id="modalcliente" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Cliente</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Nome</label>
						<input class="form-control" type="text" ng-model="cliente.nome" required>
					</div>
					<div class="col-md-6">
						<label>CPF</label>
						<input class="form-control" type="text" ng-model="cliente.cpf" required>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancelar(); cliente = {};" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="salvar()">Salvar</button>
			</div>
		</div>
	</div>
</div>